.post-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
}

.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  max-width: 40%; /* Adjust the width as needed */
}