.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 150px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.submit-button:hover {
  background-color: #45a049;
}
